{% extends 'layout/layout.html' %}

{% block Title %} | Про групу{% endblock %}

{% block Main %}
    <h1 class="text-center mb-3">Про даний проект</h1>
    <p class="text-center my-3">
        Тематика даного сайту пов'язана з діяльністю групи "Queen" та має на меті ознайомлення людей, що вперше
        чують про дану групу та зацікавлені в музичному мистецтві. Для ознайомлення з історією гурту, радимо зайти на
        сторінку історії.
    </p>

    <div class="row d-flex flex-md-row align-items-center justify-content-center my-3">
        <div class="col-md-8 text-center text-md-right">
            <p>
                Даний гурт, співаючи про життя та його радощі та складнощі, збираючи кошти на фонди з боротьби зі
                хворобами, надихав багатьох людей на зміні в житті та допомогу іншим. Любов до творчості та власної
                справи відчувається в усіх піснях гурту, і ця енергетика передається слухачам, заряджаючи їх. Даний гурт
                і справді є величним та культовим, таким, про який знають навіть ті, що народилися вже після
                розпаду групи.
            </p>
            <p>
                Тематичні виставки, проекти та сайти на зразок до цього є посередниками між минулим та теперішнім,
                дозволяючи відчути дух пісень "Queen", передаючи настрій та любов до справи людям у вигляді емоцій та
                гарного настрою. Тож, відчуйте енергетику гурту та
            </p>
        </div>
        <img src="{{ url_for('static', filename='pictures/Queen_Group_1.jpg') }}" alt="Group photo 1">
    </div>

{% endblock %}
