{% extends 'layout/layout.html' %}

{% block Title %} | Історія{% endblock %}

{% block Main %}
    <h1 class="text-center mb-3">Історія гурту Queen</h1>
    <p class="text-center">
        «Queen» (вимовляється «Квін», укр. «Королева») — британський рок-гурт,
        створений у 1971 році у Лондоні. Від року заснування (1971) і до смерті Фредді Мерк'юрі
        (1991) склад гурту залишався незмінним: Фредді Мерк'юрі — вокал, фортепіано;
        Браян Мей — гітара, вокал; Роджер Тейлор — ударні, вокал; Джон Дікон — бас-гітара, бек-вокал.
        «Queen» створювали свої ранні роботи під впливом від прогресивного року, хардроку і важкого металу,
        але поступово перейшли до більш традиційного і радіоформатного звучання, запозичивши елементи інших стилів,
        таких як арена-рок і поп-рок.
    </p>
    <div class="row d-flex flex-md-row align-items-center my-3">
        <img src="{{ url_for('static', filename='pictures/Bohemian.jpg') }}"
             alt="Bohemian Rhapsody" class="col-md-5 h-100">
        <div class="col-md-7 text-center text-md-left">
            <p>
                До заснування «Queen» Браян Мей і Роджер Тейлор грали разом у гурті під назвою «Smile».
                Фредді Мерк'юрі (тоді відомий під ім'ям Фаррух Бульсара) був фаном гурту і заохочував їх експериментувати
                з складнішою сценічною і звукозаписувальною технікою. У 1970 році Мерк'юрі приєднався до гурту і
                запропонував «Queen» як нову назву, а також придумав своє сценічне ім'я. Джон Дікон приєднався перед записом
                їхнього самоназваного дебютного альбому 1973 року. Уперше «Queen» потрапили в чарт Великої Британії з
                їхнім другим альбомом «Queen II» 1974 року, але міжнародний успіх їм принесли «Sheer Heart Attack»
                пізніше того самого року і «A Night at the Opera» 1975 року. Останній містив пісню «Bohemian Rhapsody»,
                яка залишалася на першій сходинці чарту UK упродовж дев'яти тижнів і популяризувала жанр музичного відеокліпу.
            </p>
        </div>
    </div>

    <div class="row d-flex flex-md-row align-items-center my-3">
        <div class="col-md-7 text-center text-md-right">
            <p>
                Альбом 1977 року «News of the World» містив пісні «We Will Rock You» і «We Are the Champions», які стали
                гімнами на спортивних змаганнях. До початку 1980-х років «Queen» вже були одним із найвизначніших стадіонних
                рок-гуртів у світі. «Another One Bites the Dust», що вийшов 1980 року, є їхнім найкраще продаваним синглом,
                тоді як їхній альбом-компіляція 1981 року «Greatest Hits належить до числа найкраще продаваних альбомів у
                Великій Британії і вісім разів ставав платиновим у США. Їхній виступ на концерті 1985 року «Live Aid» різні
                музичні видання називають одним із найвизначніших в історії рок-музики, а за опитуванням музичної індустрії
                2005 року — він найкращий. 1991 року Мерк'юрі помер від пневмонії, ускладнення СНІДу, а Дікон завершив
                виступи 1997 року. Відтоді Мей і Тейлор під час кількох турів виступали під назвою «Queen» разом з Полом
                Роджерсом і Адамом Ламбертом як вокалістами.
            </p>
        </div>
        <img src="{{ url_for('static', filename='pictures/Concert_1.jpg') }}"
                 alt="Concert" class="col-md-5 h-100">
    </div>
    <p class="text-center my-3">
        Гурт випустив 18 альбомів, 18 синглів і 10 DVD, які посідали першу сходинку в чарті. За різними оцінками
        кількість їхніх проданих записів становить від 150 до 300 мільйонів копій, що робить їх одним із найкраще
        продаваних музичних артистів[en] у світі. 1991 року «Queen» отримали від Британської асоціації виробників
        фонограм нагороду «За видатний внесок у британську музику». 2001 року їх введено в Залу слави рок-н-ролу.
        Кожен член «Queen» написав по кілька синглів, і всі чотири члени гурту були введені в Зал слави піснярів у
        2003 році. У 2005 році гурт отримав премію Ivor Novello за видатну колекцію пісень від Британської Академії
        піснярів, композиторів і авторів, а у 2018 році їм була вручена премія «Греммі» за досягнення протягом життя.
    </p>
    <img src="{{ url_for('static', filename='pictures/Queen_Logo.jpg') }}" alt="Queen Logo" class="w-100">
{% endblock %}